<a href="https://colab.research.google.com/github/nopapuspitasari/Machine_Learning/blob/main/NopaLatihan01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
path="/content/gdrive/My Drive/indonesian_movies.csv"
dataset=pd.read_csv(path)
dataset

                         title  ...  runtime
0          #FriendButMarried 2  ...  100 min
1                     4 Mantan  ...   80 min
2     Aku Tahu Kapan Kamu Mati  ...   92 min
3                  Anak Garuda  ...  129 min
4                    Dignitate  ...  109 min
...                        ...  ...      ...
1267     The Tiger from Tjampa  ...   97 min
1268       Enam Djam di Djogja  ...  116 min
1269             Darah dan Doa  ...  150 min
1270         Resia Boroboedoer  ...      NaN
1271        Loetoeng Kasaroeng  ...   60 min

[1272 rows x 11 columns]

In [ ]:
dataset.head()

                      title  ...  runtime
0       #FriendButMarried 2  ...  100 min
1                  4 Mantan  ...   80 min
2  Aku Tahu Kapan Kamu Mati  ...   92 min
3               Anak Garuda  ...  129 min
4                 Dignitate  ...  109 min

[5 rows x 11 columns]

In [ ]:
dataset.shape

(1272, 11)

In [ ]:
dataset.isnull().sum()

title             0
year              0
description     432
genre            36
rating          896
users_rating      0
votes             0
languages         0
directors         7
actors            0
runtime         403
dtype: int64

In [ ]:
dataset.max()

title                                                      Ziarah
year                                                         2020
users_rating                                                  9.4
votes                                                         981
languages                                             Minangkabau
actors          [nan, nan, nan, nan, nan, nan, nan, nan, nan, ...
dtype: object

In [ ]:
dataset.min()

title                                                         #66
year                                                         1926
users_rating                                                  1.2
votes                                                       1,004
languages                                                   Dutch
actors          ["Ghea D'Syawal", 'Reymond Knuliq', 'Djati Kus...
dtype: object

In [ ]:
dataset.describe()

              year  users_rating
count  1272.000000   1272.000000
mean   2007.023585      6.144418
std      12.968560      1.389315
min    1926.000000      1.200000
25%    2006.000000      5.300000
50%    2011.000000      6.400000
75%    2016.000000      7.100000
max    2020.000000      9.400000

In [ ]:
dataset.describe().loc['max','year']

2020.0

In [ ]:
dataset.describe().loc['max','users_rating']

9.4

In [ ]:
data=dataset.dropna()

In [ ]:
data.shape

(286, 11)

In [ ]:
y=data['year']
y

0       2020
1       2020
2       2020
3       2020
4       2020
        ...
1175    1983
1192    1982
1197    1982
1215    1981
1222    1980
Name: year, Length: 286, dtype: int64

In [ ]:
fitur=['title','year']
x=data[fitur]
x

                                  title  year
0                   #FriendButMarried 2  2020
1                              4 Mantan  2020
2              Aku Tahu Kapan Kamu Mati  2020
3                           Anak Garuda  2020
4                             Dignitate  2020
...                                 ...   ...
1175               Escape from Hellhole  1983
1192  Ferocious Female Freedom Fighters  1982
1197                     Pengabdi Setan  1982
1215                Steel-Fisted Dragon  1981
1222                      Savage Terror  1980

[286 rows x 2 columns]